<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shortner</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    
</head>
<body>
    <a href="urlcreated" style="font-size: 15px; ">Urls List</a>
    <h1 align="center">URL Shortner</h1>
    <form action="createshorturl" method="POST" align="center" background =>
        {% csrf_token %}
        <table style="margin: 0px auto;">
            <tbody>
                <tr>
                    <td><label>URL</label></td>
                    <td><input type="text" name="url" ></td>
                </tr>
                <tr>
                    <td><button>Submit</button></td>
                </tr>                
            </tbody>
        </table>
        <tr>
            {% if messages %}
            {% for message in messages %}
            {% if message.tags %}
            <td><label>"{{ message }}"</label></td>
            {% endif %}  
            {% endfor %}
            {% endif %}            
        </tr>
    </form>
</body>
</html>